<h1>Welcome</h1>
<p>Welcome to the leave mgt system</p>
<p>A system for managing your office well</p>
<a class="red waves-effect waves-light btn" href="/auth/google">
    <i class="fa fa-google"></i> Login with Google</a>